simulation:
  corridor_length: 100.0
  corridor_width: 3.0
  robot_view_range: 3.0
  max_steps: 2000
  env_precision: 0.1

robot:
  xml_path: "four_wheels_robot.xml"

rewards:
  goal: 100.0
  collision: -0.05
  straight_line_penalty: 0.5
  straight_line_dist: 15.0

training:
  agent_type: "ppo"
  max_episodes: 1000
  model_path: "ppo_robot_corridor.pth"
  load_weights_from: null
  learning_rate: 0.02
  gamma: 0.99
  k_epochs: 4
  eps_clip: 0.2
  update_timestep: 4000
