type: "velocity"
goal: 100.0
collision: -0.05
straight_line_penalty: 0.1
straight_line_dist: 40.0
pacer_speed: 0.004
use_velocity_reward: true
velocity_reward_scale: 0.1
stuck_penalty: -0.1
stuck_x_velocity_threshold: 0.05
backward_escape_bonus: 0.02