agent_type: "ppo"
max_episodes: 20000
model_path: "exp_modular.pth"
load_weights_from: null
learning_rate: 0.0003
gamma: 0.99
k_epochs: 3
eps_clip: 0.2
update_timestep: 4000
gae_lambda: 0.95
entropy_coeff: 0.01
value_loss_coeff: 0.5
grad_clip_max_norm: 0.5
reward_scale: 1.0
