simulation:
  scene_type: "custom_xml"
  custom_xml_path: "xml/corridor_3x100_no_full_obstacles.xml"
  scene_scale: 2.0
  custom_xml_goal_position: [95.0, 0.0, 1.0]
  robot_start_position: [2.0, 0.0, 0.6]
  corridor_length: 100.0
  corridor_width: 3.0
  robot_view_range: 4.0
  max_steps: 30000
  env_precision: 0.2
  warmup_steps: 1000
  action_repeat: 10
  num_envs: 6
  gravity: "0 0 -0.20"
  dt: 0.01
  solver: "Newton"
  iterations: 500
  ground_friction: "1 0.005 0.0001"

robot:
  xml_path: "xml/four_wheels_robot.xml"
  action_smoothing_k: 5
  control_mode: "discrete_direction"
  max_speed: 10.0

model:
  config_file: "agents/policy_mlp_small.yaml"

rewards:
  config_file: "rewards/velocity_focused.yaml"

training:
  agent_type: "ppo"
  max_episodes: 20000
  model_path: "exp_custom_corridor.pth"
  load_weights_from: null
  learning_rate: 0.0003
  gamma: 0.99
  k_epochs: 3
  eps_clip: 0.2
  update_timestep: 4000
  gae_lambda: 0.95
  entropy_coeff: 0.01
  value_loss_coeff: 0.5
  grad_clip_max_norm: 0.5
  reward_scale: 1.0
